
/* google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Lato:ital,wght@0,300;0,400;1,700&family=Poppins:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding:0;
    background-size: border-box;
    overflow-x: hidden;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* all input style */
input{
    width:300px;
    height: 30px;
    border-radius: 5px;
    border:1px solid rgb(167, 160, 160);
    outline-style: none;
    font-size: 15px;
    padding: 0 10px;
}
/*============== header part start============ */
.dollar-account{
    text-align: center;
}
.color{
    color: aqua;
    font-size:50px;
}
/*============== header part end============ */
/* ==============main section================*/
.container{
    max-width:1200px;
    margin:0 auto;
    padding: 30px 0;
}
.bacheor-dollar-account{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.left-part{
    width:100%;
}
.left-part img{
    width:95%;
    height: 600px;
}
.right-account-part{
    width:100%;
    background-color:rgba(205, 213, 214, 0.226);
    padding: 20px 40px;
}
.income{
    margin-bottom: 30px;
}
.expenses{
    margin-bottom: 30px;
}
.expenses-money{
    display: flex;
    flex-direction: column;
}
.expenses-total{
    margin:10px 0;
}
/* =========calculate button========= */
.calculate-button{
    color:#fff;
    background-color: aqua;
    padding:8px 30px;
    border: 0;
    font-weight: 700;
    font-size:18px; 
}
/*========== saveing input========== */
.saving-input{
    width:125px;
    height: 30px;
    border-radius: 5px;
    border:1px solid rgb(167, 160, 160);
    outline-style: none;
    font-size: 18px;
    padding: 0 8px;
    font-size: 15px;
}
/* ============save button========= */
.save-button{
    color: #fff;
    background-color: aqua;
    padding:8px 20px;
    border: 0;
    font-weight: 700;
    font-size: 16px;
}
.save-ammount{
    margin-top:20px;
}

/*==============Media Query=========*/
/*=========== Mobile view===========*/
@media (max-width:688px) {
    input{
        width:120px;  
    }
    .bacheor-dollar-account{
        grid-template-columns: 1fr;
    }
    .left-part img{
        width: 95%;
        padding: 10px;
    }
    .right-account-part{
        margin-top:20px;
    }
    .save-button{
        margin-top:20px;
    }
}
